html, body { 
    height: 100%; 
    margin: 0; 
    padding: 0; 
}
#map { 
    height: 100%; 
    height: calc( 100% - 45px );
}

#sidebar {
  background: #2a2c36;
  color: #eee;
  position: fixed;
  height: 100%;
  width: 270px;
  overflow: hidden;
  left: 0;
  margin: 0;
  -moz-transition: left ease .25s;
  -o-transition: left ease .25s;
  -webkit-transition: left ease .25s;
  transition: left ease .25s;
}

#sidebar.hide-sidebar {
  left: -270px;
  -moz-transition: left ease .25s;
  -o-transition: left ease .25s;
  -webkit-transition: left ease .25s;
  transition: left ease .25s;
}


#wrapper {
  height: 100%;
  margin: 0 0 0 270px;
  -moz-transition: margin-left ease .25s;
  -o-transition: margin-left ease .25s;
  -webkit-transition: margin-left ease .25s;
  transition: margin-left ease .25s;
}

#wrapper.hide-sidebar {
  margin-left: 0;
  -moz-transition: margin-left ease .25s;
  -o-transition: margin-left ease .25s;
  -webkit-transition: margin-left ease .25s;
  transition: margin-left ease .25s;
}



#main {
  height: 100%;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-inverse{
  background-color: #2a2c36;
}


#filter {
  height: 45px;
}

#sidebarToggle {
  background-color: #2a2c36;
  color: white;
}